/* Have header take up all of the space */
header {
    display: block;
}

aside {
    float:left;
    background-color: rgba(0,0,0,.03);
    height: 100vh;
    width: 18rem;

}

/* Positioning for header centered */
#weather-header { 
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Change of color when hovering over li */
li:hover {
    background-color:#0d6efd;
    color:white;
    cursor: pointer;
}

/* Add class for when click event on li */
.selected {
    background-color: #295daa;
}

/* Div stylings holding the two divs on the right for city info and five day forecast */
.info-containers {
    width: 75%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* Stylings for containers holding city information and five day forecast */
#city-info {
    display:flex;
    width:100%;
    height:50%;
    border: solid 1px black;
    padding-left:20px;
    padding-top: 40px;
}

#city-info, p, h1 {
    display:block;
}

#five-day {
    display:flex;
    flex-direction: column;
    width:100%;
    height:50%;
    border: solid 1px black;
}

#five-day h1 {
    padding-left: 20px;
    padding-top: 40px;
}

#day-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height:100%;
}

.days {
    height: 80%;
    width: 150px;
    display: block;
    background-color: #0d6efd;
    border-radius:5px;
    margin: 20px;
    color:white;
    padding: 10px;
}